<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>
        Application membre
    </h1>
    </header>
    
    <main>
        <h2>
            Listes des médias
        </h2>
        <div>
            <h3>
                Listes des livres
            </h3>
            <ul>
                {% for livre in livre %}
                <li>{{livre.nom}} - {{livre.auteur}}</li>
                {% endfor %}
            </ul>
             <h3>
                Listes des Cd
            </h3>
            <ul>
                {% for cd in cd %}
                <li>{{cd.nom}} - {{cd.artiste}}</li>
                {% endfor %}
            </ul>
             <h3>
                Listes des Dvd
            </h3>
            <ul>
                {% for dvd in dvd %}
                <li>{{dvd.nom}} - {{dvd.realisateur}}</li>
                {% endfor %}
            </ul>
             <h3>
                Listes des Jeux de plateaux
            </h3>
            <ul>
                {% for jeux_de_plateau in jeux_de_plateau %}
                <li>{{jeux_de_plateau.nom}} - {{jeux_de_plateau.createur}}</li>
                {% endfor %}
            </ul>
        </div> 
    </main>
</body>
</html>