{% extends 'base_bibliothecaire.html' %}

{% block title %}Accueil bibliothecaire{% endblock %}

{% block content %}

<h1>
    Espace bibliothecaire
</h1>

{% if messages %}
    {% for message in messages %}
    <script>
        alert("{{message}}")
    </script>
    {% endfor %}
{% endif %}

{% include "Livre/liste_livre.html" %}

{% include "Cd/liste_cd.html" %}

{% include "Dvd/liste_dvd.html" %}

{% include "Jeux_de_plateau/liste_jeux.html" %}

{% include "Nouveau_membre/liste_membre.html" %}

{% include "Emprunt/liste_emprunt.html" %}

{% endblock %}