{% extends 'index.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <h2>
        Connexion bibliothecaire
    </h2>
    <div>
        <form method="post">
            {% csrf_token %}
            <label>Identifiant :</label>
            <input type="text" name="username"><br><br>
            <label>Mot de passe :</label>
            <input type="password" name="password"><br><br>
            <button type="submit">Se connecter</button>
        </form>
        <span>
            <a href="{% url 'accueil' %}">Retour Accueil médiathéque</a>
        </span>
    </div>
    {% if messages %}
        {% for message in messages %}
        <script>
            alert('{{message}}')
        </script>
        {% endfor %}
    {% endif %}
{% endblock %}


